/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.calculator-container {
  width: 320px;
  padding: 15px;
  border-radius: 24px;
  background: #000000;
  box-shadow: 0 4px 16px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-display {
  width: 100%;
  background: #222;
  color: #fff;
  border-radius: 8px;
  padding: 16px 12px 8px 12px;
  text-align: right;
  min-height: 56px;
  box-sizing: border-box;
  background-color: #000000;
}
/* 
@media (max-width: 480px) {
  .calculator-display {
    font-size: 1.2rem;
    min-height: 200%;
    width: 120vw;
  }
} */

.calculator-input {
  font-size: 2.2rem;
  /* opacity: 0.8; */
}

.calculator-result {
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 4px;
}

.calculator-buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 60px);
  justify-content: center;
  gap: 10px;
}

/* @media (max-width: 480px) {
  .calculator-buttons {
    grid-template-columns: repeat(6, 100%);
  }
} */

.calc-btn {
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px; /* одинаковая ширина и высота */
  height: 60px;
  font-size: 1.3rem;
  font-weight: 700;
  border: none;
  border-radius: 50%;
  color: #ffffff;
  background: #333333;
  cursor: pointer;
  transition: background-color 0.2s;
}

.calc-btn:hover {
  opacity: 80%;
}

.calc-btn-plus,
.calc-btn-minus,
.calc-btn-mul,
.calc-btn-div,
.calc-btn-eq {
  background-color: #FF9500;
  color: #fff;
}

.calc-btn-clear,
.calc-btn-PM,
.calc-btn-percent {
  background-color: #A5A5A5;
  color: #fff;
}

.calc-btn-{
cursor: not-allowed;
}

